.add-button-wrapper{
    margin: 0 auto;
    
    .add-button{
        border-radius: 50%;
        background: #588DE4;
        width:70px;
        font-size: 3rem;
        color:#fff;
        text-align: center;
        cursor: pointer;
    }
}